<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Mono:wght@500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <!-- <link rel="shortcut icon" type="image/png" href="/images/favicon.png"> -->
  <title> Lazo </title>
</head>
<body>
    <div class="container">
        <div class="col">
            <div class="row">
                <p class="description">
                    Lazo is design for dockerfile. Dockerfile follow declarative language apporach which may create bugs because poor synatxing.
                    Programmers solve problems that directly or indirectly have some limitations or not allowed to think beyond the limits.
                    Early Programmers design software becausse it reduce workload. Laziness is the core attribute of a programmer.
                    That why I called it lazo-program. 
                </p>
                <a class="btn btn-primary started" href="http://localhost:8080/dockerfile/create">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>

</body>

<style>
    .description{
        position: absolute;
        top: 200px;
        color: blueviolet;
    }
    .started{
        position: absolute;
        top: 349px;
        left:200px;
    }
    .fa-github-alt{
        
    }
</style>
</html>
